@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WeatherApplication.Models.Weather

<h1>Загрузка данных из Excel</h1>

<form method="post" enctype="multipart/form-data" action="@Url.Action("UploadFile", "Weather")">
    <div>
        <label for="file">Выберите файл Excel:</label>
        <input type="file" name="file" id="file" />
        <button type="submit">Загрузить</button>
    </div>
</form>

@if (ViewBag.Error != null)
{
        <div class="alert alert-danger">@ViewBag.Error</div>
}

@if (ViewBag.Message != null)
{
        <div class="alert alert-success">@ViewBag.Message</div>
}
